{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col offset-lg3 offset-md-3 col-sm-12 col-md-6">
            <div class="card ">
                <div class=" container">
                    <div class="col">
                        <h3 class="text-center">Register account</h3>
                    </div>
                    <div>
                        <label for="name">Name</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="surname">Surname</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="username">Username</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="password">Password</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="email">Email</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="phone">Phone number</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div>
                        <label for="age">Age</label>
                    </div>
                    <div>
                        <input>
                    </div>
                    <div class="align-content-center">
                        <a class="btn btn-dark" href="">Register</a>
                    </div>



                </div>
            </div>
        </div>
    </div>
{% endblock %}